<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="/recipes/new/" method="POST">
        <div class="form-group">
            <label for="name">Recipe Name</label>
            <input name="name" id="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="url">Url</label>
            <input name="url" id="url" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients (new line delimited)</label>
            <textarea id="ingredients" name="ingredients" class="form-control" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label for="steps">Steps (new line delimited)</label>
            <textarea id="steps" name="steps" class="form-control" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

</body>
</html>